{% extends 'base.html.twig' %}

{% block title %}TypeIntervention index{% endblock %}

{% block body %}
    <h1>TypeIntervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_intervention in type_interventions %}
            <tr>
                <td>{{ type_intervention.id }}</td>
                <td>{{ type_intervention.nom }}</td>
                <td>
                    <a href="{{ path('app_type_intervention_show', {'id': type_intervention.id}) }}">show</a>
                    <a href="{{ path('app_type_intervention_edit', {'id': type_intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_intervention_new') }}">Create new</a>
{% endblock %}
